@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
  color: var(--textcolor);
}

:root {
  --lgfsize: 4rem;
  --mfsize: 1.8rem;
  --sfsize: 1.2rem;
  --vsfsize: 0.9rem;
  --textcolor: #ffffff;
  --bgcolor: #000000;
}
